{include file="header/index" header_type="$header_type" /}
<style> 
td { padding-right:10px; padding-bottom:20px;}
input { background-color:#f7f8fa;}
.text { height: 340px; width: 600px; }
.title { font-size:18px; font-weight:bold;}
.invitedUsers {color:#03F;white-space:normal;word-break:break-all;}
</style>
<link rel="stylesheet" href="/static/mobile/css/reveal.css">
<script src="/static/mobile/js/wangEditor.min.js"></script>


<div style="height:60px;"></div>
	<div class="form-group">
    <table width="830" align="center">
      <tr>
        <td colspan="5" align="center" class="title" style="font-size:1.8em; line-height:2.3em;">我要发布</td>
      </tr>
      <tr>
        <td colspan="4" align="left"><input type="text" class="form-control" name="title" id="title" style="background-color:#f7f8fa; height:45px;font-size:1.8em;" placeholder="发布标题，10-60个中文字符（20-120个英文字符）" /></td>
        <td width="40" align="right"> <span style="color:#F00;">*</span><img src="/static/images/blank.png" width="30" height="29" id="check_title" /></td>
      </tr>
      <tr>
        <td colspan="4" align="left"><button type="button" class="am-btn am-btn-primary am-btn-sm" onclick="choosePic();" id="upImage">
				<span style="font-size:1.8em; line-height:2.3em;"><i class="am-icon-cloud-upload"></i> 选择要上传的标题图片</span></button> <span style="color:#F00;">*</span>
                <span id="img_url" style="margin-left:30px;"></span></td>
        <td width="40" align="right"><img src="/static/images/blank.png" width="30" height="29" id="check_title_img" /></td>
      </tr>
      <tr>
        <td colspan="4" align="left"><div style="width:100%; line-height:50px; text-align:left;font-size:1.8em; " id="user_tag_list" class="tagwrap"><b><span class="am-icon-tags" style="color:#06C;"></span>&nbsp;&nbsp;您已选择的标签： </b><span style='color:#03C;' id='no_tag'>暂未选择标签</span><span style='color:#03C; display:none;' id='no_tag_remove'>暂未选择标签</span></div></td>
        <td width="40" align="right"><img src="/static/images/blank.png" width="30" height="29" id="check_title_img" /></td>
      </tr>
      
      <tr>
        <td colspan="5" align="left">
<span class="header_title"><span style="font-size:0.7em;"><span class="am-icon-tags am-icon-sm" style="color:#06C;"></span> 请搜索并添加标签：</span></span><input name="search_tags" id="search_tags" type="text" style="margin-left:10px;border:1px; border-color:#ccc; border-style:solid; border-radius:2px;background-color:#fff; width:230px; padding-left:10px;font-size:1.8em;" onkeydown="return chkSearchTag(event);" /> <img src="/static/images/glass_small.png" style="height:30px;cursor:pointer;" onclick="searchTags();">
            <div style="height:10px;"></div>
            <div id="search_result" style="display: none;font-size:0.7em;"><span class="header_title"><span class="am-icon-frown-o am-icon-sm" style="color:#900;margin-right=10px;"></span> 没有找到该标签，<button type="button" class="btn btn-default button_blue" onclick="addCustomTag()" style="margin-left:1px; height:35px;margin-right:2px;">点此</button>添加该自定义标签<br></span></div>
                <div id="tag_searched" class="txtwrap" style="padding-left:40px; padding-right:40px; line-height:40px;font-size: 0.9em; display:none;"><img src="/static/images/loading.gif" width="600"></div>
                <div id="root_tags" style="padding-left:10px; padding-right:10px; line-height:1.7em; font-size:1.8em;">您也可以从我们的标签分类开始查找：<br><span id="rootTags" style="font-size:0.4em;">{volist name="root_tags" id="tag"}<a href="javascript:void(0);" class='tag_parent' title="有下一级子标签" data-reveal-id="tag_box" data-animation="fade" data-tag="{$tag.tag}" data-tag-id="{$tag.id}" data-type="tags">{$tag.tag}</a> {/volist}</span></div>
        </td>
      </tr>
      <tr>
        <td colspan="5" align="left" style="font-size:1.8em; line-height:2em;">发布描述 <span style="color:#F00;">*</span></td>
      </tr>
      <tr>
        <td colspan="4" align="left">
        <div id="editordiv" style="width:100%" class="text">
        </div>
        </td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4" align="right"><button type="button" name="submitbtn" id="submitbtn" class="btn btn-default" style="width: 100%; height:auto; background-color:#004d9d; color:#FFF; font-size:1.8em;">提交发布</button><button type="button" name="updatebtn" id="updatebtn" class="btn btn-default" style="display:none; width: 100%; height:45px; background-color:#004d9d; color:#FFF; font-size:1.8em;">更新发布</button></td>
        <td align="right">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" align="left" style="color:#900; padding-top:10px; font-size:1.8em; line-height:1.2em;">注：如果您从别的网站复制黏贴发布内容，并且在提交时提示输入的内容太长了，建议您将其中的图片文件保存到本地后再上传并插入发布内容中。</td>
      </tr>
    </table>
</div>
<div id="tag_box" class="reveal-modal" style="width:720px;overflow-y:scroll; overflow-x:hidden; height:620px; font-size:1.8em;">
    <div id="box_title" class="header_title">子标签列表</div>
    <div style="height:20px;"></div>
    <div style="line-height:50px;">当前标签：<span id="current_tag"></span></div>
    <div id="tips" style="color:#03C;">tips: 也可以直接点击选取该父标签查看选择该标签的用户</div>
    <hr style="color:#999; height:1px; width:90%;">
    <div id="data_list" style="line-height:50px;"></div>
    <div id="article_list" style="line-height:30px;"></div>
    <div style="height:15px;"></div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<input type="hidden" name="content" id="content" value="" />
<input type="hidden" name="content_text" id="content_text" value="" />
<input type="hidden" name="userid" id="userid" value="{$userid}" />
<input type="hidden" name="title_img" id="title_img" value="">
<input type="hidden" name="tag_list" id="tag_list" value="">
<form name="pictureForm" id="pictureForm" action="/index/article/uploadTitlePic" method="post" enctype="multipart/form-data">
<input type="file" name="upFiles" id="upFiles" onchange="chkPic();" style="opacity:0;filter:alpha(opacity:0);">
</form>
<div style="height:100px;"></div>
<script type="text/javascript" src="/static/mobile/js/article.js?3"></script>
<script type="text/javascript" src="/static/mobile/js/jquery.reveal.js"></script>
<script src="/static/mobile/js/article_tags.js?16"></script>
<script type="text/javascript" src="/static/mobile/js/jquery.reveal.articletag.js?2"></script>
