{include file="header/index" header_type="$header_type" /}
<div style="background-color:#F2F2F2;">
    <div style="margin:0 auto; width:1200px;">
        <div style="text-align:left;">
            <div style="height:10px";></div>
            
            <div class="big_content_column">
            <div style="height:30px;"></div>
            <span class="header_title">免责声明</span>
            <div style="height:10px;"></div>
            <div style="width:100%; padding-left:50px; padding-right:50px; text-align:left; text-indent:2em;">
            <pre><span style="line-height:30px;">比邻小镇作为网络互动交流平台，为了规范网站管理，依法保障本网站及相关版权所有者的合法权利，特作出以下法律声明。本法律声明阐述之条款和条件适用于所有访问和使用比邻小镇的个人、机构或社会团体。当您进入比邻小镇后，则表明您已经接受以下条款：
1、任何访问和使用比邻小镇网站的个人、机构或社会团体必须遵守有关法律法规，不得借助本网站的传播能力，从事非法活动和任何商业活动。
2、比邻小镇的一切内容都是为了更好地服务受众，本网站不保证所有信息、文本、图形、链接及其它项目的绝对准确性和完整性，内容仅供访问者使用参照，比邻小镇对因使用本网站内容而产生的相关后果不承担任何商业和法律责任。   
3、所有与比邻小镇链接的网站及其内容和版权由相应的提供者与拥有者负责，比邻小镇不对其内容、形式或性质担负任何直接或间接的商业或法律责任。
4．凡在比邻小镇免费发布信息的 ，信息发布者务必保证其内容的真实性和原创性，如内容因拷贝、作假等行为导致的法律后果，由发布者承担，且本网站保留修改、追偿等相关权利。凡影响本站美观、不真实的内容、严重重复的内容本网站有权修改或删减。本网站在适当情况下，有权自行决定删除侵犯他人权利的文章，终止侵害或违反他人权利之使用者的帐号。
5、用户在比邻小镇发表的内容（包含但不限于比邻小镇目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表比邻小镇的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。比邻小镇不承担任何法律及连带责任。
6、比邻小镇转载的文章、资料及相关图片，其版权均由原作者或原刊载媒介拥有，未经版权所有人同意，任何机构或个人不得擅自将其作为商业用途。本网站依法保障版权所有人的相关权利，对于转载使用时未及核实的权利人，可以向本站提交权利人身份证明材料及可以说明版权所有者情况的材料，我们将根据有关规定第一时间对其相应处理。
7、凡在比邻小镇登记注册的用户，用户须自行负责对账户和密码保密，且须对用户的账户和密码下发生的所有活动承担全部责任。
8、因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致用户不能正常使用，比邻小镇不承担任何法律责任。并且，本站将定期对用户数据进行备份工作，如因为操作失误、黑客攻击以及服务器故障引起的数据损失，本站将尽可能地恢复，但这种情况下所导致的损失为不可抗拒因素，本站具有免责权利。但用户有权要求本网根据服务停止时间采取延期使用的补救措施。</span></pre></div>
            <div style="height:20px;"></div>
            <hr style="color:#CCC; height:1px; width:1150px;">
            </div>
            <div style="height:20px;"></div>
        </div>
    </div>
</div>
