{include file="header/index" header_type="$header_type" /}
<div style="background-color:#F2F2F2;">
    <div style="margin:0 auto; width:1200px;">
        <div style="text-align:left;">
            <div style="height:10px";></div>
            
            <div class="big_content_column">
            <div style="height:30px;"></div>
            <span class="header_title">新手帮助</span>
            <div style="height:10px;"></div>
            <div style="width:100%; padding-left:50px; padding-right:50px; text-align:left; text-indent:2em;">
            <pre><span style="line-height: 2.5em;font-size: 2.5em;">
<i class="am-icon-question-circle"></i>  问：如何获得比邻币？
<i class="am-icon-commenting-o"></i> 答：我们对首批十万比邻小镇注册用户每位赠送1枚比邻币。回答悬赏问题也可获得相应比邻币。比邻小镇后续还会推出别的任务，完成任务后也可获得比邻币。

<i class="am-icon-question-circle"></i>  问：提出问题一定要悬赏吗？
<i class="am-icon-commenting-o"></i> 答：问题有免费问题和悬赏问题两种。免费问题不用悬赏，所有人都可以回答。悬赏问题提问者标示悬赏的比邻币数量。提问者可在提出问题时邀请回答者，同时冻结相应数量的比邻币外加10%平台佣金。提问者也可以等回答者提出回答申请后决定是否同意，如同意 同样同时冻结相应数量的比邻币外加10%平台佣金。

<i class="am-icon-question-circle"></i>  问：如何回答问题？
<i class="am-icon-commenting-o"></i> 答：用户可在问答页面看到所有的问题。免费问题所有人都可以回答，答案也对所有人可见。悬赏问题可按“我要回答”按钮申请回答。如提问者同意，答题者会在个人页面“我的回答”看到提示。提问者也可能直接邀请答题者。答题者同样会在个人页面“我的回答”看到提示。如果是提问者主动邀请，答题者可觉得接受或拒绝。

<i class="am-icon-question-circle"></i>  问：问答流程是怎样的？
<i class="am-icon-commenting-o"></i> 答：问题有免费问题和悬赏问题两种。免费问题不用悬赏，所有人都可以回答。
悬赏问题提问者标示悬赏的比邻币数量。提问者可在提出问题时邀请回答者，同时冻结相应数量的比邻币外加10%平台佣金。提问者也可以等答题者提出回答申请后决定是否同意，如同意同样冻结相应数量的比邻币外加10%平台佣金。
回答者提供答案后，提问者可视情况决定接受，拒绝或针对答案补充提问。当提问者最终决定接受答案，冻结的比邻币会支付给答题者。平台会收取提问者悬赏金额10%的佣金，和答题者悬赏收入0.5%的佣金。提问者可以选择公开答案。此时答案对所有人可见，平台会退回9.5%佣金给提问者。如果提问者认为答案不好并拒绝，答题者会收到通知。如答题者无异议，则被冻结的比邻币包括佣金会解冻退回到提问者账户。答题者如有异议可向平台提出仲裁。

<i class="am-icon-question-circle"></i>  问：提问者和回答者之间的响应时间是多久？
<i class="am-icon-commenting-o"></i> 答；目前系统设定的强制响应时间是十天。具体规则如下：
提问者邀请10天内答题者不回应视为拒绝回答。
答题者提出回答申请10天内提问者不回应视为拒绝申请。
答题者回答10天内提问者不回应视为接受答案。
提问者拒绝答案后10天内提问者不申请仲裁视为无异议。

<i class="am-icon-question-circle"></i>  问：我是否能看到所有的问题和答案？
<i class="am-icon-commenting-o"></i> 答：问题有免费问题和悬赏问题两种。免费问题所有人都可以回答，答案也对所有人可见。悬赏问题被回答后，提问悬赏者可以决定是否公开。如果公开则答案对所有人可见，否则不可见。

<i class="am-icon-question-circle"></i>  问：用户贴标签的意义是什么？
<i class="am-icon-commenting-o"></i> 答：比邻小镇目前有数万个标签，涵盖了文化，科学，地理，历史诸领域，并且还在不断扩充中。用户可根据自己的兴趣，爱好，特长等选择标签。这些标签将很好地提供关于用户的全方位侧写，有助于别人了解和找到你，向你提问或邀请你参与活动。标签是比邻小镇居民间联系的重要纽带。

<i class="am-icon-question-circle"></i>  问：如何添加标签？
<i class="am-icon-commenting-o"></i> 答：在首页的顶部或个人资料的标签管理，你可以在搜索栏键入关键字寻找你感兴趣的标签。系统会显示搜索结果。或者，如果没有任何匹配，系统会显示顶级目录。你可点击任何你感兴趣的标签，系统会打开新窗口显示该标签和下级目录/子标签（如有）。再次点击标签或目录可显示有哪些用户添加了该标签，你也可点击该标签给自己添加。

<i class="am-icon-question-circle"></i>  问：蓝色标签和灰色标签有什么不同？
<i class="am-icon-commenting-o"></i> 答：蓝色标签表示该目录下有子目录或下级标签，你可点击打开。注意你也可以直接点击添加上级目录。

<i class="am-icon-question-circle"></i>  问：如何使用比邻钱包？
<i class="am-icon-commenting-o"></i> 答：1.下载并打开钱包，初次打开可能需要几分钟的时间同步钱包<br />
		<img src="/static/images/wallet-1.jpg" width="693" height="479" /><br />
		2.查看并复制钱包的公钥地址。公钥地址是可以被安全公开的，请放心转发。<br />
		<img src="/static/images/wallet-2.jpg" width="693" height="479" /><br />
		3.登陆比邻小镇<a href="http://www.beelintown.com.cn/index/usercoins" target="_blank">http://www.beelintown.com.cn/index/usercoins</a>，点击钱包管理并贴上公钥地址，标签用于区分不同的钱包，例如PC钱包，手机钱包（即将上线）<br />
		<img src="/static/images/wallet-3.jpg" width="693" height="302" /><br />
		<img src="/static/images/wallet-4.jpg" width="693" height="258" /><br />
		4.如果需要提现到比邻钱包，可登陆<a href="http://www.beelintown.com.cn/index/usercoins" target="_blank">http://www.beelintown.com.cn/index/usercoins</a>，选择我要提现。<br />
		<img src="/static/images/wallet-5.jpg" width="693" height="273" /><br />
		<img src="/static/images/wallet-6.jpg" width="693" height="219" />

<i class="am-icon-question-circle"></i>  问：如何使用纸钱包（又称为比邻轻量级钱包）？
<i class="am-icon-commenting-o"></i> 答：比邻小镇纸钱包（又称为比邻轻量级钱包）使用方法如下：
		1.打开比邻轻量级钱包，在虚线框内任意滑动以生成密钥对。注意，公钥是可以被公开的，转发给他人以便转款给您。私钥是必须保证安全的，拥有私钥既拥有了您的钱包。您可以选择将页面打印成纸质保存在安全的地方，作为冷存储。亦可把私钥导入比邻PC钱包后，销毁私钥。
		<img src="/static/images/wallet-7.jpg" width="311" height="553" /><br />
		2.（可选）下载并安装比邻PC钱包（具体步骤在上一个问题的答案中）。
		进入PC钱包，依次点击帮助->调试窗口->控制台，钱包会新打开一个窗口。
		<img src="/static/images/wallet-8.jpg" width="693" height="495" /><br />
		在下方红色圈出的方框内敲入关键词：importprivkey 您的私钥地址，例如
		importprivkey 68hRq23s8zYJt9FiGGkuBid4GqPkJu1wj7eMBYjYm1gQeM159g5
		输入回车键，您就可以在PC钱包里查看纸钱包的金额了。
        
</span></pre></div>
            <div style="height:20px;"></div>
            <hr style="color:#CCC; height:1px; width:1150px;">
            </div>
            <div style="height:20px;"></div>
        </div>
    </div>
</div>
